h1{
    background-color: blueviolet;
    color:purple
   font-family:fantasy; 
   Font-size:60px; 
 
    
}
body{
    background-color:black; 

}
select{
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;

}
.imagen_1{
    margin-top: 300px;


}